<html>
    <head>
        <title>LOG IN</title>

        <link rel="stylesheet" href="/css/ragtime.css">
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
        <script src="/js/login.js"></script>
    </head>
    <body>
        <div class="center-box center-text">
            <h3 class="blog-title">LOG IN</h3>
            <hr>
            <label class="form-label">Password:</label>
            <input class="text-box" id="pwd" type="password">
            <br>
            <br>
            <button class="link-button" id="submit">let's jam</button>
            <br>
            <small id="wrong" class="wrong-text">wrong password</small>
        </div>
    </body>
</html>
